/* Fix element width not always behaving correctly in flex containers */
html, body, div, span,  object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, main, nav, ins {
    min-width: 0;
}

/* Font size is always relative to users preferred font size */
html {
    font-size: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.main-grid--container {
    display: grid;
    min-height: 100%;
    width: var(--max-main-grid-width);
    /* header, main content, footer */
    grid-template-rows: var(--grid-item-height) var(--main-content-height) var(--grid-item-height);
    grid-template-columns: var(--aside-width) 1fr var(--aside-width);
    grid-gap: 0.5rem;
}

.main-grid--item {
    padding: 0.5rem;
    grid-column: 1 / 4;
}

header#main-grid--header {
    grid-row: 1 / 2;
}

main#main-grid--content {
    grid-row: 2 / 3;
}

footer#main-grid--footer {
    grid-row: 3 / 4;
}

/* With aside */
.main-grid--container.with-aside {}
/* defaults to aside left side */
.with-aside.aside-left aside#main-grid--aside {}
.with-aside aside#main-grid--aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.with-aside main#main-grid--content, .with-aside.aside-left main#main-grid--content {
    grid-column: 2 / 4;
}
/* aside right side */
.with-aside.aside-right aside#main-grid--aside {
    grid-column: 3 / 4;
}
.with-aside.aside-right main#main-grid--content {
    grid-column: 1 / 3;
}

/* With jumbotron */
.main-grid--container.with-jumbotron {
    /* header, jumbotron, main content, footer */
    grid-template-rows: var(--grid-item-height) var(--grid-item-height) var(--main-content-height) var(--grid-item-height);
}
.with-jumbotron div#main-grid--jumbotron {
    grid-row: 2 / 3;
}
.with-jumbotron main#main-grid--content {
    grid-row: 3 / 4;
}
.with-jumbotron aside#main-grid--aside {
    grid-row: 3 / 4;
}
.with-jumbotron footer#main-grid--footer {
    grid-row: 4 / 5;
}

@media (max-width: 959px) {
    .main-grid--container {
        grid-template-columns: 1fr;
    }
    .main-grid--item {
        grid-column: 1 / 2 !important;
    }

    /* With aside */
    .main-grid--container.with-aside {
        /* header, main content, aside, footer */
        grid-template-rows: var(--grid-item-height) var(--main-content-height) var(--grid-item-height) var(--grid-item-height);
    }
    .with-aside aside#main-grid--aside {
        grid-row: 3 / 4;
    }
    .with-aside footer#main-grid--footer {
        grid-row: 4 / 5;
    }

    /* With jumbotron*/
    .main-grid--container.with-jumbotron {
        /* header, jumbotron, main content, footer */
        grid-template-rows: var(--grid-item-height) var(--grid-item-height) var(--main-content-height) var(--grid-item-height);
    }
    .with-jumbotron div#main-grid--jumbotron {
        grid-row: 2 / 3;
    }
    .with-jumbotron main#main-grid--content {
        grid-row: 3 / 4;
    }
    .with-jumbotron footer#main-grid--footer {
        grid-row: 4 / 5;
    }

    /* With jumbotron and aside */
    .main-grid--container.with-jumbotron.with-aside {
        /* header, jumbotron, main content, aside, footer */
        grid-template-rows: var(--grid-item-height) var(--grid-item-height) var(--main-content-height) var(--grid-item-height) var(--grid-item-height);
    }
    .with-jumbotron.with-aside div#main-grid--jumbotron {
        grid-row: 2 / 3;
    }
    .with-jumbotron.with-aside main#main-grid--content {
        grid-row: 3 / 4;
    }
    .with-jumbotron.with-aside aside#main-grid--aside {
        grid-row: 4 / 5;
    }
    .with-jumbotron.with-aside footer#main-grid--footer {
        grid-row: 5 / 6;
    }
}