body.light {
    background-color: var(--base3);
    color: var(--base00);
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5 {
    color: var(--base01);
}

body.light a {
    color: var(--blue);
}

body.light a:visited {
    color: var(--magenta);
}

body.light #main-grid--header,
body.light #main-grid--footer {
    position: relative;
    background-color: var(--base2);
}

body.light .text-emphasis {
    color: var(--base01);
}

body.light code,
body.light pre {
    background-color: var(--base2);
}

body.light #site-footer {
}
