<header id="main-grid--header" class="main-grid--item">
    <div class="header-content">
            <span class="header--title text-emphasis">
                jonikorhonen.xyz
            </span>
    </div>
    <nav class="header-nav">
        <ul>
${for(nav)}
            <li>
                <a class="nav-link" href="${nav.href}">${nav.label}</a>
            </li>
${endfor}
        </ul>
    </nav>
</header>